/************* Navbar CSS **************/
.logo {
  font-size: 5rem;
}
.mainContainer {
  background-color: #fff8ef;
  height: 90vh;
}
.nav {
  background-color: inherit !important;
}

/************* Home CSS **************/
.homeConatainer {
  margin-top: 3.5rem;
  background-color: #fff8ef;
  padding: 0 1rem;
}
.imgContainer img {
  height: 30rem;
  border-radius: 20px;
  margin-top: .5rem;
}

/************* Potter CSS **************/
.innerContent1 {
  position: absolute;
  right: 44rem;
  top: 6rem;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 10px;
  height: 8.7rem;
  width: 7.7rem;
}
.innerContent1 img {
  width: 7rem;
  border-radius: 10px;
  height: 5.5rem;
}
.innerContent1 p {
  font-size: 15px;
  font-family: FaibleBold;
}
.innerContent1 p span {
  font-size: 12.5px;
  color: #004e4c;
}

/************* Gardener CSS **************/
.innerContent2 {
  position: absolute;
  left: 9.5rem;
  top: 18rem;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 10px;
  height: 8.7rem;
  width: 7.7rem;
}
.innerContent2 img {
  width: 7.1rem;
  border-radius: 10px;
  height: 5.5rem;
}
.innerContent2 p {
  font-size: 15px;
  font-family: FaibleBold;
}
.innerContent2 p span {
  font-size: 12.5px;
  color: #004e4c;
}

/************* Barista CSS **************/
.innerContent3 {
  position: absolute;
  right: 41rem;
  top: 23rem;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 10px;
  height: 8.7rem;
  width: 7.7rem;
}
.innerContent3 img {
  width: 7rem;
  border-radius: 10px;
  height: 5.5rem;
}
.innerContent3 p {
  font-size: 15px;
  font-family: FaibleBold;
}
.innerContent3 p span {
  font-size: 12.5px;
  color: #004e4c;
}


/************* Right Text CSS **************/
.rightContainer{
  margin-top: 5rem;
}
.rightContainer p{
  font-family: SpoofTrialRegular;
  color: #004e4c;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.rightContainer h1{
  font-size: 4rem;
  color: #faa834;
  font-family: SpoofTrialBold;
}
.rightContainer h1 span{
  color: #004e4c;
}
.rightContainerDetails{
  margin-top: 5rem;
}
.rightContainerDetails p{
  color: #004e4c;
  font-family: FaibleBold;
  font-size: 1.1rem;
}
.rightContainerDetails p span{
  font-family: FaibleRegular;
}

@media screen and (max-width: 700px) {
  .imgContainer img {
    margin-top: 2rem;
    border-radius: 20px;
  }
  .innerContent1 {
    position: absolute;
    left: 4rem;
    top: 47rem;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 10px;
    height: 9rem;
    width: 8.2rem;
  }
  .innerContent1 img {
    width: 7.5rem;
    border-radius: 10px;
    height: 5.5rem;
  }
  .innerContent2 {
    position: absolute;
    left: 14rem;
    top: 55rem;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 10px;
    height: 9rem;
    width: 7.7rem;
  }

  .innerContent3 {
    position: absolute;
    left: 2rem;
    top: 61rem;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 10px;
    height: 9rem;
    width: 8.2rem;
  }
  .innerContent3 img {
    width: 7.5rem;
    border-radius: 10px;
    height: 5.5rem;
  }
  .homeConatainer {
    margin-top: 3rem;
    padding: 0 1rem;
    background-color: #fcfcfc;
  }
  .mainContainer {
    background-color: #fcfcfc;
  }
  .rightContainer p{
    font-size: 1.3rem;
  }
  .rightContainer h1{
    font-size: 3.5rem;
  }
  .rightContainerDetails{
    margin-top: 2rem;
  }
  .rightContainerDetails p{
    font-size: 1.5rem;
  }
}
